body {
}

#grid {
  height: 75%;
  width: 75%;
  margin: auto;
  margin-top: 20px;
}

.tile img {
  width: 100%;
  margin: auto;
  display: block;
  opacity: 0;

}
.tile {
  float: left;
  height: 22%;
  width: 22%;
  border: 5px solid orange;
  margin: 0.33%;
  box-sizing: border-box;
}

.show img {
  opacity: 1;
  transition: 1500ms;
}
