body {
}

#grid {
  height: 75%;
  width: 75%;
  margin: auto;
  margin-top: 20px;
}

#space {
  width: 45%;
  height: 60px;
  background: rgba(192, 192, 192, 0.3);
  border-radius: 5px;
  border: 3px solid #ACE;
  margin: auto;
  box-sizing: border-box;
}

.tile img {
  width: 100%;
  margin: auto;
  display: block;
  opacity: 0;
}

.tile {
  float: left;
  height: 22%;
  width: 22%;
  border: 5px solid #ACE;
  margin: 7px;
  box-sizing: border-box;
  background: rgba(192, 192, 192, 0.3);
  border-radius: 10px;
}

.show img {
  opacity: 1;
  transition: 1500ms;
}

.match img {
  opacity: 1;
}
